{% extends "layout/base.html" %}

{% block title %}Predict{% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="row text-center">
  	<div class="col-12 mb-4">
      	<div class="card border-1 shadow">
          	<hr class="featurette-divider">
          	<div class="tab-content">
            	PREDICT
          	</div>
          	<hr class="featurette-divider">
      	</div>
  	</div>
</div>
{% block js %}
{% endblock js %}
{% endblock content %}