<header>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="background-color: #0a4275;">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if page == 'home'  else '' }}" id="tab-home"
                href="/"
                role="tab" aria-controls="content-home" aria-selected="true">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if page == 'dashboard'  else '' }}"
                href="{{ url_for('dashboard') }}"
                role="tab" aria-controls="content-dashboard" aria-selected="false">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if page == 'predict'  else '' }}"
                href="{{ url_for('predict') }}"
                role="tab" aria-controls="content-predict" aria-selected="false">
                Predict
            </a>
        </li>
    </ul>
</header>